* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 0.4px;
  letter-spacing: 0.4px;
}

body {
  font-size: 16px;
  padding: 50px;
  background: #333645;
}
body > *:not(:last-child) {
  padding-top: 50px;
}

.caps {
  text-transform: uppercase;
}

button {
  background-color: #1d1f28;
  color: #00C6C0;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 200;
}

.header h1 {
  margin: 0;
  line-height: 1;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: left;
  color: #00C6C0;
}

.image-container {
  display: inline-block;
  height: auto;
  width: 48%;
}
.image-container .image {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.image-container .image img {
  width: 100%;
}

.form {
  float: right;
  width: 48%;
}
.form > form {
  height: 80px;
  padding: 10px 0;
}
.form > form input {
  height: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border-width: 1px;
  transition: ease-in-out 0.2s;
}
.form > form input:focus {
  outline: none;
  border: 1px solid #08f;
  box-shadow: 1px 1px 15px, -1px -1px 15px #08f;
}
.form > form input[type=email] {
  width: 50%;
}
.form > form button {
  float: right;
  height: 100%;
  padding: 20px;
  font-size: 1.125rem;
}
.form > form button.add-img {
  margin-left: 20px;
}

.saved-imgs {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.saved-imgs ul {
  list-style-type: none;
}
.saved-imgs > ul {
  background: #494d62;
}
.saved-imgs > ul > li {
  position: relative;
  font-size: 0;
}
.saved-imgs > ul > li > * {
  display: inline-block;
}
.saved-imgs > ul > li .text {
  width: 100%;
  padding: 10px;
  border: 2px solid #1d1f28;
}
.saved-imgs > ul > li .text > * {
  display: inline-block;
}
.saved-imgs > ul > li .text h2 {
  height: 100%;
  margin: 0;
  line-height: 2;
  font-size: 2rem;
  font-weight: 400;
  color: #00C6C0;
}
.saved-imgs > ul > li .text > .fas {
  font-size: 2rem;
  float: right;
  color: #00C6C0;
  margin: 1rem 20px 0 0;
}
.saved-imgs > ul > li > ul {
  width: 100%;
  height: 0px;
  overflow: hidden;
  background: #333645;
}
.saved-imgs > ul > li > ul li:not(:first-child) {
  border-top: 1px solid #333645;
}
.saved-imgs > ul > li > ul > li {
  display: block;
  padding: 10px;
  width: 95%;
  height: 0px;
  margin: auto;
  background: #494d62;
}
.saved-imgs > ul > li > ul > li .lower-list {
  position: relative;
  float: right;
  width: 100%;
  height: 100%;
}
.saved-imgs > ul > li > ul > li .lower-list button {
  float: right;
  top: 50;
  font-size: 1.125rem;
  padding: 15px;
  margin: auto;
}
.saved-imgs > ul > li > ul > li .lower-list img {
  position: absolute;
  height: 100%;
}
.saved-imgs > ul > li:hover > ul {
  height: auto;
}
.saved-imgs > ul > li:hover > ul > li {
  height: 100px;
}

.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100px;
  width: 100%;
  max-width: 350px;
  background: #aaa;
  margin: auto;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #1d1f28, -5px -5px 10px #1d1f28;
  padding: 40px;
  text-align: center;
  transition: 0.4s ease-in-out;
}
.popup > div {
  display: none;
  height: 100%;
}
.popup p {
  font-size: 1.125rem;
  height: 100%;
  line-height: 1.1;
}

.popup-hidden {
  top: -100%;
}

@media only screen and (max-width: 1462px) {
  .form > form input[type=email] {
    width: 40%;
  }

  .saved-imgs > ul > li .text > h2 {
    font-size: 1.5rem;
  }
  .saved-imgs > ul > li .text > .fas {
    margin: 10px 20px 0 0;
  }
}
@media only screen and (max-width: 1228px) {
  .form {
    float: none;
  }

  .form,
.image-container {
    width: 100%;
  }

  .saved-imgs > ul > li .text > h2 {
    font-size: 2rem;
  }
  .saved-imgs > ul > li .text > .fas {
    margin: 16px 20px 0 0;
  }
}
@media only screen and (max-width: 658px) {
  .form > form button {
    width: 120px;
    font-size: 0.75rem;
  }

  .saved-imgs > ul > li .text > h2 {
    font-size: 1.25rem;
  }
  .saved-imgs > ul > li .text > .fas {
    margin: 7px 20px 0 0;
  }
}
@media only screen and (max-width: 542px) {
  .form > form input[type=email] {
    width: 100%;
    margin-bottom: 20px;
  }
  .form > form button.add-img {
    float: left;
  }
  .form > form button.new-img {
    float: right;
  }
  .form > form button {
    float: none;
    display: inline-block;
    width: 45%;
    margin-bottom: 20px;
  }
  .form > form button.add-img {
    margin: 0;
  }

  .saved-imgs > ul > li .text > h2 {
    font-size: 0.75rem;
  }
  .saved-imgs > ul > li .text > .fas {
    font-size: 1rem;
    margin: 6px 10px 0 0;
  }
}/*# sourceMappingURL=styles.css.map */