// Media queries

$breakpoints: ('xxs': 576px,
    'xs': 600px,
    'sm': 750px,
    'md': 975px,
    'lg': 1260px,
    'xl': 1400px);

@mixin mq($break) {
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'xs');

    @if $value==null {
        @warn "`#{break}` is not a valid breakpoint name"
    }

    @else if $value <$sm {
        @media screen and (max-width: $value) {
            @content;
        }
    }

    @else {
        @media screen and (min-width: $value) {
            @content;
        }
    }
}

@mixin media-ie {
    @media screen and (-ms-high-contrast: none) {
        @content;
    }
}