.image-container {
    display: inline-block;
    height: auto;
    width: 48%;

    .image {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}